.App {
  text-align: center;
}



.App-header {
  background-color: #384D69;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5px;
}

.App-link {
  color: #61dafb;
}


.Container {
  background-color: #6B849E;
  padding-left: 25px;
  padding-right: 25px;
}


.line {
  color: white;
}

.add-task {
  padding-top: 20px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;
  border: #384D69 5px solid;

}

.item-list {
  padding-top: 5px;

}


button {
  margin-left: 10px;
  padding: 5px;
}


label {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;

}
select {
  margin: 5px;
}


.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}