.App {
  text-align: center;
}



.App-header {
  background-color: #384D69;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}


.Container {
  background-color: #6B849E;
  padding-left: 25px;
  padding-right: 25px;
}


#newitem {
  justify-content: center;
}


.add-task {
  padding-top: 20px;
  background-color: #FAFAF9;
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;

}

.item-list {
  padding-top: 20px;

}

button {
  margin-left: 10px;
  padding: 5px;
}


label {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;

}
